@page
@model Program_seven_ASP.NET.Pages.Index2Model
@{
    var addMessage = "";
    var Username = "";
    var City = "";
    var Age = "";

    if (HttpMethods.IsPost(Request.Method))
    {
        Username = Request.Form["text1"];
        City = Request.Form["text2"];
        Age = Request.Form["text3"];


        // addMessage = " YOUR NAME IS:"  +Username +  " YOUR  AGE IS : "+Age +  " YOUR CITY IS:"+City;

    }
}

    <h3>Your Name is : @Username </h3>
    <h3>Your Age is : @Age </h3>
    <h3>Your City is : @City </h3>

<h4>Received from @Model.Abc</h4>
<h4>Age is @Model.age</h4>
