@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    var result = "";

    if(HttpMethods.IsPost(Request.Method))
    {
        result = "This page was posted using the submit button";
    }
    else
    {
        result = "This was the first request for this page";
    }

}
@{
    var add = 0;

    var addMessage = "";

    if(HttpMethods.IsPost(Request.Method))
    {
        //Retrieve the numbers  that the user entered
        var num1 = Request.Form["text1"];
        var num2 = Request.Form["text2"];

        //Convert the entered strings into integers numbers and add

        add = Convert.ToInt16(num1) + Convert.ToInt32(num2);

        addMessage = " Addition is = " + add;
    }

}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form action="" method="POST">


    <p>
        <label for="text1">First Number</label>
        <input type="text" name="text1" />
    </p>

    <p>
        <label for="text2" >Second Number</label>
        <input type="text" name="text2"/>
    </p>

    <p>
        <input type="submit" value="ADD" />
    </p>




    <h1>@addMessage</h1>


</form>
<h1>@result</h1>


            

