<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Windows_form_project_task.Properties.Settings.WidowsDBConnectionString"
            connectionString="Data Source=LAPTOP-CEIB5MST\SQLEXPRESS;Initial Catalog=WidowsDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>