@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var greeting = " Welcome to our site ";
    var weekday = DateTime.Now.DayOfWeek;
    var greetingmessage = greeting + "  Today is   " + weekday;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
            <h1>The greeting is : @greetingmessage</h1>
