@page
@model First_Website_ASP.Net_.Pages.Index4Model
@{
}
<label>User Name</label>
<input type="text" id="uname" for="uname" placeholder="User Name..." /><br />

<label>Password</label>
<input type="text" id="password" for="password" placeholder="Password..." /><br />



<button type="button"><i><b>Login</b></i></button>