@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    var x=2;
    var y = 9;
    var z = x + y;


}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
                            <h1>Addition is:  @z</h1>
